.form-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.input-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  border: none;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid gray;
}

.status-text {
  color: gray;
}

.container-btns {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.main-btn {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: chocolate;
  color: white;
  border-radius: 8px;
  font-weight: 700;
  border: none;
}

.main-btn {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: chocolate;
  color: white;
  border-radius: 8px;
  font-weight: 700;
  border: none;
}

.main-btn:hover {
  background-color: white;
  color: chocolate;
  border: 1px solid chocolate;
}

.sub-btn {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: white;
  color: chocolate;
  border-radius: 8px;
  font-weight: 700;
  border: 1px solid chocolate;
}

.sub-btn:hover {
  background-color: chocolate;
  color: white;
}

.error-msg {
  color: red;
  font-size: 0.7rem;
  text-align: left;
  width: 100%;
  padding-left: 0.5rem;
}

option {
  color: black;
}

@media (1024px <= width) {
  .form-container {
    justify-content: center;
    align-items: flex-start;
  }

  .input-container {
    width: 40%;
  }

  .container-btns {
    width: 40%;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
  }

  .input {
    padding: 1rem;
    font-size: 1rem;
  }

  .input::placeholder {
    font-size: 1rem;
  }

  .main-btn,
  .sub-btn {
    padding-inline: 1rem;
    padding-block: 0.8rem;
    font-size: 1rem;
  }

  .error-msg {
    font-size: 0.85rem;
  }
}
