.title-section {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding-block: 1rem;
  border-bottom: 2px solid gray;
}

.title-page {
  color: black;
  font-size: 1.5rem;
}

.container-title-dashboard {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
  padding-block: 1rem;
}

.title-dashboard {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

.subtitle-dashboard {
  color: rgb(53, 52, 52);
  font-size: 0.9rem;
}

.button-dashboard {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: chocolate;
  border-radius: 8px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.text-clients-qty {
  color: rgb(53, 52, 52);
  font-size: 0.9rem;
  width: 100%;
}

@media (1024px <= width) {
  .button-dashboard {
    width: 12rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
  }
}
